<app-title></app-title>

<ul class="topnav">
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/myprofile">Profile</a></li>
  <li class="right"><a (click)="logout()">Logout</a></li>
</ul>
<app-breadcrumbs></app-breadcrumbs>
<router-outlet></router-outlet>

<!-- <div class="main-body">
  <div class="page-wrapper">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="page-body">
      <router-outlet>
      <app-spinner></app-spinner> 
      </router-outlet>
    </div>
  </div>
</div> -->